*{
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #0087C3;
    text-decoration: none;
}

body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #555555;
    background: #FFFFFF;
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
}

header {
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
    background-color: #00618c;

}

#tbl-invoice-info .left{
    text-align: left;
}

#tbl-invoice-info .right{
    text-align: right;
}

#tbl-header{
    margin-bottom: 0;
}

#tbl-header .logo {
    float: left;
    margin-top: 8px;
    padding-left: 20px;
}


#tbl-header .company {
    float: right;
    text-align: right;
    padding-right: 20px;
    color:#fff;
}

#company h2,div{
    color:#fff;
}

#tbl-header .company a{
    color:#fac600;
}

#details {
    margin-bottom: 50px;
}

#client {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    float: left;
    color:#000;
}

#tbl-invoice-info .to {
    color: #777777;
    margin-bottom: 10px;
}

#tbl-invoice-info .name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

#tbl-invoice-info .address{
    color:#000;
}

#tbl-invoice-info h1 {
    color: #000;
    font-size: 20px;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
}

#tbl-invoice-info .date {
    font-size: 1.1em;
    color: #777777;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table th{
    padding: 10px;
    background: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

table th {
    white-space: nowrap;
    font-weight: normal;
}

.col-item, .col-item-count {
    text-align: center;
}

.col-item-count{
    font-weight:bold;
}

.col-item-desc{
    text-align: left;
}

.money{
    text-align: right;
}

table tbody td{
    padding: 10px 0;
}



table tbody tr:last-child td{
    padding-bottom: 15px;
}

table tfoot td {
    padding: 10px 20px;
    background: #EEEEEE;
    border-bottom: none;
    font-size: 1.2em;
    white-space: nowrap;
    border-top: 1px solid #AAAAAA;
}

table tfoot tr:first-child td {
    border-top: none;
}

table tfoot tr:last-child td {
    color: #57B223;
    font-size: 1.4em;
    border-top: 1px solid #57B223;

}

table.tbl-inputs{
    margin:0;
    padding:0;
}

table.tbl-inputs tr td{
    padding:0;
}

.inputs{
    border:1px solid #000;
    -webkit-border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
    overflow: hidden;
    margin-bottom: 20px;
}

table.tbl-inputs tr.row-title td.div{
    color:#000;
    text-align: center;
    font-weight: bold;
    width:380px;
    margin:auto auto 10px auto;
    border-bottom: 1px solid #000;
}

.left{
    float: left;
}

.right{
    float: right;
}
table.tbl-inputs tr.row-input td.div{
    text-align: center;
    width:380px;
    height: 200px;
    margin:auto;
    overflow: hidden;
    position: relative;
}

table.tbl-inputs tr.row-input td div.right img{
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    margin:auto;
}

table.tbl-inputs tr td img{
    margin:auto;
    max-width: 380px;
    max-height: 200px;

}

table.tbl-inputs tr td div.right img{
    line-height: 200px;

}

table.tbl-inputs tr td div.left img{
    border-bottom: 4px solid #000;
    max-width: 350px;
    margin-top: 20px;
}

#notices div{
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    color:#000;
}

#notices .notice {
    font-size: 1.2em;
}

footer {
    color: #777777;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}